@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --transition: all 0.5s ease;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);

  /*Font Color */
  --primary: #1e781d;
  --dark-green: #1f7b1e;
  --light-green: #34cd32;
  --white: #fff;
  --light: #f8f9fa;
  --dark: #343a40;
  --bg-color: #c2f0c1;

  /* Font Size */
  --header-1: 64px;
  --header-2: 48px;
  --header-3: 42px;
  --header-4: 32px;

  /* Font Weight */
  --text-medium: 18px;
  --text-regular: 16px;
  --text-light: 13px;

  /* Font Family */
  --font-family: "Poppins", sans-serif;
}

/* Rest & Helper */
body {
  font-family: var(--font-family);
  /* background-color: var(--dark); */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: var(--transition);
}

a:hover {
  color: var(--light-green);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.no-pt {
  padding-top: 0 !important;
}

.no-pb {
  padding-bottom: 0 !important;
}

/* Navbar */
.navbar {
}

@media (max-width: 991.98px) {
  .navbar {
    background: #000000 !important;
    top: 0;
  }
}

.navbar-scrolled {
  background-color: var(--dark);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--white);
  margin: 0.5rem;
}

.navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar-nav > .nav-item > .nav-link:hover {
  color: var(--light-green);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* btn */
.btn {
  position: relative;
  top: 8px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: round;
  padding-top: 10px;
}

.btn-brand {
  background-color: var(--light-green);
  border-color: var(--light-green);
  color: var(--white);
}

.btn-brand:hover {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  color: var(--white);
}

/* Hero */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.438)),
    url("/assets/images/ex-bg-1.jpg");
  background-position: center;
  background-size: cover;
}

#hero h6 {
  font-weight: 800;
}

#hero h1 {
  font-size: 50px;
  width: 50%;
}

#hero p {
  width: 45%;
}

@media screen and (max-width: 600px) {
  #hero h1 {
    font-size: 36px;
    width: 100%;
  }

  #hero p {
    width: 100%;
  }
}
.typewriter-text {
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}
.blink {
  color: var(--primary);
  animation: blink-animation 1s infinite; /* Change blink speed here */
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* SECTION */
.section {
  padding: 8em 0;
  position: relative;
}

@media (max-width: 768px) {
  .section {
    padding: 6em 0;
  }
}

.heading-section .subheading {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--primary);
}

.heading-section h2 {
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.services-wrap {
  position: relative;
  z-index: 0;
}

.services-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  height: 140px;
  background: var(--dark-green);
}

@media (max-width: 767.98px) {
  .services-wrap:after {
    height: 100%;
  }
}

.services {
  width: 100%;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0px 15px 34px -10px rgba(0, 0, 0, 0.403);
  -moz-box-shadow: 0px 15px 34px -10px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 15px 34px -10px rgba(0, 0, 0, 0.09);
}

@media (max-width: 991.98px) {
  .services {
    margin-bottom: 30px;
  }
}

.services .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}
.services .icon i {
  color: var(--primary);
  font-size: 40px;
}

.services .text h3 {
  font-size: 18px;
  font-weight: 600;
}

.services .btn-custom {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  border-radius: 5%;
  background: var(--dark-green);
  margin: 0 auto;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .btn-custom span {
  color: #fff;
}

.services:hover .btn-custom {
  opacity: 1;
  bottom: -25px;
  color: #fff;
}

/* sec 2 */

.img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.3s ease;
}

.img:hover {
  /* CSS changes on hover */
  background-image: url("../assets/images/ex-about-2.jpg");
}

@media (max-width: 767.98px) {
  .img-hover {
    height: 400px;
  }
}
.heading-section .subheading {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: var(--light-green);
}

.heading-section h2 {
  font-size: 30px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tabulation-2 .nav-pills .nav-item .nav-link {
  background: #fff;
  border-radius: 4px;
  color: #000000;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tabulation-2 .nav-pills .nav-item .nav-link.active {
  color: #fff;
  background: var(--light-green);
  border: 1px solid var(--light-green);
}

.tabulation-2 .tab-content {
  background: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* Sec 3  dipa tapos */
.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:after {
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  content: "";
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #b3b3b3;
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}
.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
  border: 1px solid red;
}
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}
.case {
  height: 300px;
  margin-bottom: 30px;
  z-index: 0;
  position: relative;
  box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
}
.case:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: var(--primary);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}
.case .text {
  z-index: 1;
  width: 100;
  opacity: 0;
  transition: all 0.3s ease;
}
.case .text h3 a {
  color: #fff;
  font-size: 22px;
}
.case .text span {
  color: rgba(255, 255, 255, 0.9);
}
.case:hover:after {
  opacity: 0.5;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.case:hover .text {
  opacity: 1;
}

/* sec 4 */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block-2 {
  margin-bottom: 0;
  perspective: 1000;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .block-2 {
    margin-bottom: 20px;
  }
}
.block-2:hover .back,
.block-2.hover .back {
  transform: rotateY(0deg);
}
.block-2:hover .front,
.block-2.hover .front {
  transform: rotateY(180deg);
}
.block-2,
.block-2 .front,
.block-2 .back {
  width: 100%;
  height: 400px;
}
.block-2 .flipper {
  -o-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.block-2 .front,
.block-2 .back {
  backface-visibility: hidden;
  border-radius: 0px;
  transition: 0.3s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.block-2 .front {
  background: lightgreen;
  z-index: 2;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.block-2 .front:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0);
}
.block-2 .front .box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.block-2 .front .box h2,
.block-2 .front .box p {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.block-2 .front .box h2 {
  font-size: 20px;
  font-weight: 600;
}
.block-2 .front .box p {
  font-size: 12px;
}
.block-2 .back {
  background: var(--primary);

  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);

  transform: rotateY(-180deg);
}
.block-2 .back p {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.block-2 .author {
  bottom: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.block-2 .author .image {
  width: 40px;
}
.block-2 .author .image img {
  border-radius: 50%;
  max-width: 100%;
}
.block-2 .author .name {
  color: #fff;
  font-weight: 600;
}
.block-2 .author .position {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: normal;
}
@media (max-width: 991.98px) {
  .block-2 .back {
    transform: rotateY(0deg);
  }
  .block-2 .front {
    transform: rotateY(180deg);
  }
}

/* section 5 */
.practice-area {
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}
@media (max-width: 767.98px) {
  .practice-area {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}

.hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0; /* Initial opacity set to 0 */
}

.image:hover .hover-image {
  opacity: 0.7;
  display: block;
  cursor: pointer;
}

.practice-area .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.practice-area .icon i {
  font-size: 50px;
  color: var(--primary);
  transition: all 0.3s ease;
}

.practice-area h3 {
  font-size: 20px;
}
.practice-area,
h3,
p {
  color: #000000;
}

.practice-area:hover .icon i,
.practice-area:focus .icon i {
  color: var(--light);
}

/* Footer */
.footer {
  font-size: 16px;
  background: #222831;
  padding: 5em 0 3em 0;
}

.footer-section {
  padding: 2em 0;
  position: relative;
}
.footer-brand img {
  position: relative;
  right: 12px;
  top: -10px;
  background-color: red;
}

.footer .logo {
  font-size: 34px !important;
  text-transform: uppercase;
  font-weight: 800 !important;
  line-height: 1;
}

.footer .logo a {
  color: #fff;
  text-decoration: none; /* Added text-decoration */
}

.footer .logo a span {
  color: #afa939;
  font-size: 16px !important;
  display: block;
}

.footer .footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px; /* Reduced margin for better spacing */
  font-size: 20px;
}
.footer .footer-widget li .text {
  color: #fff; /* Set the text color to white */

  margin-bottom: 0px; /* Add some bottom margin for spacing */
}

.footer .footer-widget .text .icon {
  margin-right: 10px; /* Add some right margin to separate icon and text */
}
.footer .footer-widget .block-23 {
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.footer .footer-widget .block-23 ul {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer .footer-widget .block-23 ul li {
  list-style: none; /* Remove default list styling */
  margin-bottom: 10px; /* Add some bottom margin for spacing between items */
}

.footer .footer-widget .block-23 ul li .icon {
  margin-right: 10px; /* Add some right margin to separate icon and text */
}

.footer .footer-widget .block-23 ul li .text {
  color: #fff; /* Set the text color to white */
}
.footer .footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
  color: #222831; /* Added text color */
  text-decoration: none; /* Added text-decoration */
}

.footer .footer-widget .btn-primary:hover {
  background: #fff;
  border: 2px solid #fff !important;
}

.footer p,
.footer a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; /* Added text-decoration */
}

.footer a:hover {
  color: #fff;
}

.footer .heading-2 {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.footer .heading-2 .text span {
  color: rgba(255, 255, 255, 0.9);
}
.footer .opening-hours h4 {
  color: #afa939;
  font-size: 16px;
}

.footer .opening-hours p span {
  color: rgba(255, 255, 255, 0.9);
}

.footer-social li {
  display: inline-block; /* Changed to inline-block */
  margin-right: 10px; /* Added margin for spacing */
}

.footer-social li:last-child {
  margin-right: 0; /* Removed margin from last child */
}

.footer-social li a {
  height: 50px;
  width: 50px;
  display: flex; /* Changed to flex */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  text-decoration: none; /* Added text-decoration */
}

.footer-social li a:hover {
  background: #fff; /* Changed background color on hover */
}

.footer-social li a span {
  font-size: 26px;
}
